<nav class="customer_links" >
	<ul id="customer_links">
		<li><%=link_to '<i class="fa fa-bug fa-lg" aria-hidden="true"></i> All'.html_safe, complaints_path %></li>
		<li><%=link_to '<i class="fa fa-bell-o fa-lg" aria-hidden="true"></i> Open'.html_safe, open_complaint_path %></li>
		<li><%=link_to '<i class="fa fa-bell-slash-o fa-lg" aria-hidden="true"></i> Close'.html_safe, close_complaint_path %></li>
	</ul>
	<hr/>
</nav>
