<div class="wrapper">
  <div id="page-heading">
    <h1><span class="glyphicon glyphicon-th-list"></span> Take New Complaint</h1>
    <hr/>
  </div>  
    
    <nav class="navbar navbar-default customer-navbar">
      <div class="container-fluid">
        <ul class="nav navbar-nav">
          <li><%=link_to '<span class="glyphicon glyphicon-th-list"></span> Complaints'.html_safe, complaints_path %></li>
          <li class="active">
            <%=link_to '<span class="glyphicon glyphicon-plus"></span> New complaint'.html_safe, newcomplaint_path %>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right hidden-xs">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Filter by
                <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">User Id</a></li>
                  <li><a href="#">Name</a></li>
                  <li><a href="#">Email</a></li>
                  <li><a href="#">Mobile no</a></li> 
                </ul>
            </li>
        </ul>
      </div>
    </nav>
    <%= render 'complaint_lookup' %>
</div>
