<nav>
  <ul class="dashbord-links">
    <li><%=link_to '<span><i class="fa fa-home fa-lg" aria-hidden="true"></i></span> <span>Primary</span> <span>Details</span>'.html_safe, customer_path(@customer) %></li>
    <li><%=link_to '<span><i class="fa fa-usd fa-lg" aria-hidden="true"></i></span> <span>Payment</span> <span>Details</span>'.html_safe, payment_detail_customer_path(@customer) %></li>
    <li><%=link_to '<span><i class="fa fa-magic fa-lg" aria-hidden="true"></i></span> <span>Renewals</span>'.html_safe, myrenewal_customer_path(@customer) %></li>
     <li><%=link_to '<span><i class="fa fa-bullhorn fa-lg" aria-hidden="true"></i></span> <span>See</span> <span>complaints</span>'.html_safe, complaint_list_customer_path(@customer) %></li>
  </ul>
</nav>