
<nav class="navbar navbar-default navbar-fixed-top main-navbar hidden-xs">
  <div class="container-fluid">
    <div class="navbar-header">
      <b><i><%= link_to 'GCN Broadband', root_path, class: "navbar-brand" %></i></b>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <% if current_user %>
        <li><%= link_to current_user.email %></li>
        <li><%= link_to '<span class="glyphicon glyphicon-off"></span> Log out'.html_safe, destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to '<span class="glyphicon glyphicon-log-in"></span> Login'.html_safe, new_user_session_path %></li>
      <% end %>  
    </ul>
  </div>
</nav>